<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>C'est NON</title>
    <link rel="stylesheet" href="/css/simple.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    {% include header.html %}

    <main>{{ content }}</main>

    <footer>
      <p>Si vous souhaitez m'aider et contribuer, vous pouvez envoyer vos sources et vos actus par <a href="mailto:cestnon.fr@gmail.com">mail</a>.</p>
      <p>
        Ce site me sert surtout de pense bête. Pour garder une trace des sources.
        <br />
        Il n'a aucune valeur prescriptive. Chacun·e fait avec ses moyens, ses valeurs morales. Il n'y a pas de pression à avoir. On évolue tous·tes, chacun·e va à son rythme, il n'existe pas une "pureté" ou une "perfection" à avoir. On peut tous se tromper, et changer avec le temps.
      </p>
    </footer>
  </body>
</html>
